.center-cropped {
    width: 400px;
    height: 300px;
    object-fit: fill;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

  /* Set the image to fill its parent and make transparent */
.center-cropped img {
    min-height: 100%;
    min-width: 100%;
    object-fit: contain;
    opacity: 0;
}

.fecha {
  display: flex;
  justify-content: flex-end;
}